.UserInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2% 0% 2% 0%;
  padding: 0%;
  height: auto;
  width: 100%;
}

.User {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 1%;
  padding: 0%;
  height: 300px;
  width: 200px;
  background-color: white;
  color: black;
  border: solid lightgrey 1px;
  border-radius: 5px;
}

.UserImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0%;
  padding: 0%;
  height: 50%;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.UserImage img {
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.UserImage img:hover {
  opacity: 0.5;
  cursor: pointer;
  border-radius: 5px 5px 0px 0px;
}

.UserImageText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  border-radius: 5px 5px 0px 0px;
}

.UserImageText:hover {
  opacity: 1;
  cursor: pointer;
  border-radius: 5px 5px 0px 0px;
}

.UserTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0% 2% 0% 2%;
  height: 40%;
  width: 100%;
  text-align: justify;
  overflow-y: auto;
}

.UserTitle p {
  margin-top: 1rem;
  font-size: 15px;
}

.UserDeleteBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0% 1% 0% 1%;
  height: 10%;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  background-color: #dc3545;
  cursor: pointer;
}

.UserDelete {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 100%;
  border-radius: 0px;
}

.UserDelete p {
  margin-top: 1rem;
  padding: 0% 2% 0% 2%;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.Trash {
  margin: 0%;
  padding: 0% 2% 0% 2%;
  color: white;
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
  .User { height: 200px; width: 100px; }
  .UserTitle p { font-size: 12px; }
  .UserDelete p { font-size: 10px; }
  .Trash { font-size: 12px; }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .User { height: 200px; width: 100px; }
  .UserTitle p { font-size: 12px; }
  .UserDelete p { font-size: 10px; }
  .Trash { font-size: 12px; }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .User { height: 250px; width: 150px; }
  .UserTitle p { font-size: 14px; }
  .UserDelete p { font-size: 12px; }
  .Trash { font-size: 14px; }
}
