.ModalHeader {
  cursor: default;
}

.ModalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.ModalBodyInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  width: 100%;
}

.InfoItemImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 190px;
  width: 190px;
}

.InfoItemImage img {
  height: 100%;
  width: 100%;
}

.InfoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 190px;
  width: 300px;
}

.InfoItemText {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 15%;
  width: 100%;
}

.InfoItemText p {
  margin-top: 1rem;
  padding: 0% 2% 0% 2%;
}

.ModalBodyDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  text-align: justify;
}

@media only screen and (min-width: 280px) and (max-width: 480px) {
  .InfoItemText { font-size: 12px; }
  .ModalBodyDetails { font-size: 12px; }
  .ModalFooter Button { font-size: 12px; }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .InfoItemText { font-size: 12px; }
  .ModalBodyDetails { font-size: 12px; }
  .ModalFooter Button { font-size: 12px; }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .InfoItemText { font-size: 14px; }
  .ModalBodyDetails { font-size: 14px; }
  .ModalFooter Button { font-size: 14px; }
}
